{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Manager{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{%url 'task-list' %}">Tasks</a>
        <a href="{%url 'task-create' %}">
            <button type="button">Create Tasks</button>
        </a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>